.signin-contianer {
    padding-top: 9rem;
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin: 0 auto;
}

.signin-contianer label {
    margin-bottom: 1rem;
    margin-right: 1rem;
}