.forgot-password {
    padding-top: 9rem;
}

.forgot-password label {
    margin-bottom: 1rem;
}
.forgot-password form {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin: 0 auto;
}